[submodule "vim/vim.symlink/pack/ddrop/start/ale"]
	path = vim/vim.symlink/pack/ddrop/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/vim.symlink/pack/ddrop/start/dispatch"]
	path = vim/vim.symlink/pack/ddrop/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/pack/ddrop/start/vim-lucius"]
	path = vim/vim.symlink/pack/ddrop/start/vim-lucius
	url = git@github.com:jonathanfilip/vim-lucius.git
[submodule "vim/vim.symlink/pack/ddrop/start/vim-cool"]
	path = vim/vim.symlink/pack/ddrop/start/vim-cool
	url = git@github.com:romainl/vim-cool.git
[submodule "vim/vim.symlink/pack/ddrop/start/vim-rhubarb"]
	path = vim/vim.symlink/pack/ddrop/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
